include ../node_modules/bemto.jade/bemto.jade

doctype html
html(lang='en')
    head
        title=''
        link(rel='stylesheet', href='styles.css')
    body
        +b.P.paragraph
            | Hello
            +e.SPAN.small
                | World
